<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>
<script  type="text/javascript"  src="/static/jq2.0.js" ></script>
<script type="text/javascript" src="/static/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/s.css">

<body>
<div  class="left" >

    <div class="nicknamebar" >
        <span class="niclable">昵称</span>
        <input class="name" />
        <span class="niclablechange">修改</span>
    </div>
    <div class="numberofonline">
        <span><span class="number" id="onlinepn" >1</span>  &nbsp;&nbsp;&nbsp;当前在线人数</span>
    </div>
    <div class="Onlinelist" id="onlinepview" >
    </div>

    <div class="closeonlinpipban" >
        关闭
    </div>

</div>

<div  class="right" >
    <div class="numberofonline">
        <span>
            <span class="number Createaroom">创建</span>  &nbsp;&nbsp;&nbsp;房间列表</span>
    </div>
    <div class="Onlinelist" >
        <div class="pbar">
               &nbsp;&nbsp;&nbsp;大战三百回合
        </div>
    </div>

    <div class="rightclseo">
        关闭
    </div>

</div>



<div class="Playarea" >
    <div class="board" >
    </div>
</div>

<div class="chatbox" >

    <div class="mestitle" >

        <span>这是标题</span>
        <div style="float: right">关闭</div>

    </div>
    <div class="messagebox"  id="contentshow" >

        <div id="containerview" ></div>
    </div>

    <div class="messagebar">
        <input class="messageinput" />
        <span class="send" >发送</span>
    </div>
</div>

</body>
<script>
    window.wscone = null;
    var numberofonline = [];
    var roomfonline = [];
    var self ={};
    var nowsession  = {};
    var Messagecachelist = {};
    var rendmastlist =[];
    var openstate = false;
    var leftbanopenstate = true;
    var rightbanopnestate = true;
    var gamestate = 2;
    $(".closeonlinpipban").on("click",function () {
        if(leftbanopenstate){
         //关闭
            leftbanopenstate = false;
            $(".closeonlinpipban").html("打开");
            $(".left").animate({'left':'-270px'});
            gamestate--;
            $(".chatbox").animate({'width': (window.innerWidth-(270*(gamestate))-20)+'px',"left":"10px"});
        }else{
            //打开
            leftbanopenstate = true;
            gamestate++;
            $(".closeonlinpipban").html("关闭");
            $(".left").animate({'left':'0px'})
            $(".chatbox").animate({'width': (window.innerWidth-(270*(gamestate))-20)+'px',"left":"280px"});

        }
    });
    function  Rendermessagelist() {
        var allhtmle  = "";

        if(Messagecachelist[nowsession["Uuid"]]){
            for( var item in Messagecachelist[nowsession["Uuid"]]["data"] ){
                allhtmle+= " <div style=\"text-align: "+
                    (Messagecachelist[nowsession["Uuid"]]["data"][item]["send"]["Uuid"]==self["uid"]?"right":"left")
                    +"   \"    class=\"pbarsss\">\n" +
                    (Messagecachelist[nowsession["Uuid"]]["data"][item]["send"]["Uuid"]==self["uid"]?"":Messagecachelist[nowsession["Uuid"]]["data"][item]["send"]["Name"]+ "")
                    + " "+ (Messagecachelist[nowsession["Uuid"]]["data"][item]["send"]["Uuid"]==self["uid"]?Messagecachelist[nowsession["Uuid"]]["data"][item]["send"]["Name"]+"":"")
                    +"<div><p>"+Messagecachelist[nowsession["Uuid"]]["data"][item]["content"]+"</p></div>" + "       </div>"
            }
        }

        $("#containerview").html(allhtmle);
        $('#contentshow').stop().animate({scrollTop:$('#containerview').height()}, 400);
    }
    function updatechat(){
        for (var item in Messagecachelist ){
            if(Messagecachelist[item]["read"] == false){

                var targetid  = null;

                if(Messagecachelist[item]["data"][0]["send"]["Uuid"] != self["uid"]){
                    targetid = Messagecachelist[item]["data"][0]["send"]["Uuid"];
                }else if(Messagecachelist[item]["data"][0]["recipient"]["Uuid"] != self["uid"]) {
                    targetid = Messagecachelist[item]["data"][0]["recipient"]["Uuid"];
                }

                if(nowsession !=null && targetid == nowsession["Uuid"] &&  openstate ){
                    //对应面板已经打开 直接渲染面板
                    //更改未读状态
                    Messagecachelist[item]["read"] = true;
                    Rendermessagelist();
                }else{
                    //提示未读信息
                    rendermuberoflineview(numberofonline);
                }
            }
        }
    }
    $(".mestitle>div").on("click",function () {
        $(".chatbox").animate({'bottom':'-284px'});
        openstate = false;
    });
    $(".send").on("click",function () {
        var value = $(".messageinput")[0].value;
        sendmage(value);
    });
    $(".messageinput").keypress(function (e) {
        if (e.which == 13) {
            var value = $(".messageinput")[0].value;
            sendmage(value);
        }
    });
    $(".rightclseo").on("click",function () {

        if(rightbanopnestate){
            //关闭
            rightbanopnestate = false;
            $(".rightclseo").html("打开");
            $(".right").animate({'right':'-270px'});
            gamestate--;
            $(".chatbox").animate({'width': (window.innerWidth-(270*(gamestate))-20)+'px',"right":"10px"});
        }else{
            //打开
            rightbanopnestate = true;
            gamestate++;
            $(".rightclseo").html("关闭");
            $(".right").animate({'right':'0px'});
            $(".chatbox").animate({'width': (window.innerWidth-(270*(gamestate))-20)+'px',"right":"280px"});

        }

    });
    $(".Createaroom").on("click",function (e) {


        layer.prompt({title: '房间名', formType: 0}, function(name, index){
            layer.close(index);
            $.ajax({url:"/Createaroom?name="+name,success:function(result){
                    console.log(result);
                }});


        });


    });

    function sendmage(value) {
        if(value == null || value == ""){
            layer.msg('不能发送空消息');
            return;
        }
        var  sendobj = {
            "send":{
                "Uuid":self["uid"],
                "Name":self["name"]
            },
            "recipient":nowsession,
            "content":value,
            "type":"msg",
        };
        var sends  =   JSON.stringify(sendobj);
        window.wscone.send(sends);
        $(".messageinput")[0].value ="";
    }
    function  Handlerclickp(d) {
        var nowdata =  JSON.parse($(d).attr("data"));
        if(nowdata["Uuid"] ==  self["uid"]){
            layer.msg('不能和自己发起会话');
            return;
        }else{
            nowsession  = nowdata;
            $(".mestitle>span").html(nowsession["Name"]);
            //打开对应的 会话 窗口
            $(".chatbox").animate({'bottom':'0px'});
            openstate = true;
            if(Messagecachelist[nowsession["Uuid"]]){
                Messagecachelist[nowsession["Uuid"]]["read"] = true;
            }
            rendermuberoflineview(numberofonline);
            Rendermessagelist();
        }
    }
    function rendermuberoflineview(data){
        $("#onlinepn").html(data.length);
        var allhtmle  = "";
        for( var item in data ){
            allhtmle+= " <div onclick='Handlerclickp(this)'  data='"+JSON.stringify(data[item])+"'  class=\"pbar\">\n" +
                "            <img src=\"/static/p.png\" >   "+data[item]["Name"]+ "\n" +
                (Messagecachelist[data[item]["Uuid"]] != null && Messagecachelist[data[item]["Uuid"]]["read"]== false?"<span/>":"")+
                "        </div>"
        }
        $("#onlinepview").html(allhtmle);
    }
    function getonlinepp(){
        $.ajax({url:"/online",success:function(result){
                for(var i in result["online"]){
                    result["online"][i] = JSON.parse(result["online"][i]);
                }
                numberofonline = result["online"];
                rendermuberoflineview(result["online"]);
            }});
    }

    $(function () {
        $(".left").height(window.innerHeight);
        $(".right").height(window.innerHeight);
        $(".Onlinelist").height(window.innerHeight-(64));
        $("body").height(window.innerHeight);
        $(".chatbox").width(window.innerWidth-(270*2)-20);
        $(".Playarea").width(window.innerWidth);
        $(".Playarea").height(window.innerHeight);
        $(".board").css("top",((window.innerHeight-$(".board").height())/2)+"px");

        itemwidth  = (($(".board").width()*.97)/15);
        itemxx  = ($(".board").width()*0.03)/2;


        var node = "";
        for (var i=0;i<15;i++){
            for(var d =0;d<15;d++){
                node+="<div  style='line-height:"+(itemwidth)+"px;width:"+(itemwidth)+"px;height:"+(itemwidth)+"px;left:"+ (((itemwidth*i))+itemxx)  +"px;top:"+(((itemwidth*d))+itemxx)+"px;'  " +
                    " class='itemv' datax=\""+i+"\"  datay=\""+d+"\" >" +
                    "</div>";
            }
        }

        $(".board").html(node);
        $(".itemv").on("mouseover",function (e) {
            $(this).addClass("waves");
        });

        $(".itemv").on("mouseout",function (e) {
            // console.log("dsad");
            $(this).removeClass("waves");
        });


        intil =   $.ajax({url:"/setuser",
            type:"get",
            xhrFields:{withCredentials:true},
            success:function(result, status, xhr){
                $(".name")[0].value =result["name"];
                self = result;
                getonlinepp();
                window.wscone=new WebSocket("ws://192.168.18.113:8080/ws");
                //监听消息
                window.wscone.onmessage = function(event) {

                    var dat  =  JSON.parse(event.data);
                    var content  =   typeof dat["content"] == "string" ?JSON.parse(dat["content"]):null;
                    if(dat["type"] == "offline"){
                        //下线
                        var nowvdat = dat["content"];
                         removeindex = null;
                        for(var i in  numberofonline){
                             if(numberofonline[i]["Uuid"] ==  nowvdat["Uuid"]){
                                 removeindex = i;
                             }
                        }
                        if(removeindex !=null){
                            numberofonline.splice(removeindex,1)
                        }
                        rendermuberoflineview(numberofonline);
                    }else if(dat["type"]=="online"){
                        //上线
                        numberofonline.push(dat["content"]);
                        rendermuberoflineview(numberofonline);
                    }else if(content && content["type"] == "msg"){
                        //接收消息处理
                        if(content["send"]["Uuid"] == self["uid"] ||  content["recipient"]["Uuid"] == self["uid"]){
                            //添加到显示队列  中 并 出发 对应的 显示
                            if(content["send"]["Uuid"] == self["uid"]){
                                if(Messagecachelist[content["recipient"]["Uuid"]] == null){
                                    Messagecachelist[content["recipient"]["Uuid"]] ={
                                        "read":false,
                                        "data":[]
                                    };
                                }
                                Messagecachelist[content["recipient"]["Uuid"]]["read"] = false;
                                Messagecachelist[content["recipient"]["Uuid"]]["data"].push(content);
                            }
                            if(content["recipient"]["Uuid"] == self["uid"]){
                                if(Messagecachelist[content["send"]["Uuid"]] == null){
                                    Messagecachelist[content["send"]["Uuid"]] ={
                                        "read":false,
                                        "data":[]
                                    };
                                }
                                Messagecachelist[content["send"]["Uuid"]]["read"] = false;
                                Messagecachelist[content["send"]["Uuid"]]["data"].push(content);
                            }
                            updatechat();
                        }

                    }else {
                        //接收游戏逻辑处理

                    }

                };
                //close WebSocket 
                window.wscone.onclose = function(event) {
                    //WebSocket Status:: Socket Closed
                };
                // 打开WebSocket
                window.wscone.onopen = function(event) {
                    //// 发送一个初始化消息
                    // window.wscone.send("Hello, Server!");
                    //当打开的时候 获取 当前的 用户名
                    $.ajax({url:"/user",success:function(result){
                            console.log(result);
                    }});

                };
                window.wscone.onerror =function(event){
                    //WebSocket Status:: Error was reported
                    console.log(event);
                };



            }});





    })
</script>
</html>