body,html{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.send{
    display: block;
    width: calc(10% - (22px));
    float: right;
    height: 40px;
    line-height: 40px;
    background: #2792ff;
    text-align: center;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.messagebar{
    height: 40px;
    background-color: white;
}
.messageinput:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.messageinput{
    height: 40px;
    font-size: 14px;
    width: 90%;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    padding: 0px 10px 0px 10px;
}

.mestitle>div{
    cursor: pointer;
}
.mestitle{
    font-size: 13px;
    height: 20px;
    padding: 0px 10px 0px 10px;
    background: #f9fff2;
    color: #2891ff;
}
.messagebox{
    background-color: #d7d7d7;
    padding: 10px;
    height: 180px;
    overflow: scroll;
}
.chatbox{
    border: 1px solid #a5a5a5;
    position: absolute;
    bottom: -284px;
    left: 280px;
    background-color: white;
    border-bottom: 0px;
}
.Createaroom {
    cursor: pointer;
}
.closeonlinpipban{
    position: absolute;
    top: 0px;
    right: -41px;
    background: #f1f1f1;
    /* padding: 4px; */
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-left: 0px;
}

@-webkit-keyframes pulse-data-v{
    0%{-webkit-box-shadow:0 0 0 0 rgba(255,0,0,.8);box-shadow:0 0 0 0 rgba(255,0,0,.8)}
    70%{-webkit-box-shadow:0 0 0 .6rem rgba(255,0,0,0);box-shadow:0 0 0 .6rem rgba(255,0,0,0)}
    to{-webkit-box-shadow:0 0 0 0 rgba(255,0,0,0);box-shadow:0 0 0 0 rgba(255,0,0,0)}
}
@keyframes pulse-data-v{
    0%{-webkit-box-shadow:0 0 0 0 rgba(255,0,0,.8);box-shadow:0 0 0 0 rgba(255,0,0,.8)}
    70%{-webkit-box-shadow:0 0 0 .6rem rgba(255,0,0,0);box-shadow:0 0 0 .6rem rgba(255,0,0,0)}
    to{-webkit-box-shadow:0 0 0 0 rgba(255,0,0,0);box-shadow:0 0 0 0 rgba(255,0,0,0)}
}

.waves:before{
    content: '';
    display: inline-block;
    -webkit-box-shadow: 0 0 0 0.4rem rgba(255,0,0,.4);
    box-shadow: 0 0 0 0.4rem rgba(255,0,0,.4);
    -webkit-animation: pulse-data-v 1.2s infinite;
    animation: pulse-data-v 1.2s infinite;
    background-color: transparent;
    border-radius: 100%;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background: white;
    margin-top: 10%;
    /*background: -webkit-linear-gradient(left top,white,#4c4c4c,#000000, black);*/
    /*background: -o-linear-gradient(left top,white,#4c4c4c,#000000, black);*/
    /*background: -moz-linear-gradient(left top,white,#4c4c4c,#000000, black);*/
    /*background: linear-gradient(left top,white,#4c4c4c,#000000, black);*/
    background: -webkit-linear-gradient(left top,#818181,#c9c9c9, #f2f2f2, white);
    background: -o-linear-gradient(left top,#818181,#c9c9c9, #f2f2f2, white);
    background: -moz-linear-gradient(left top,#818181,#c9c9c9, #f2f2f2, white);
    background: linear-gradient(left top,#818181,#c9c9c9, #f2f2f2, white);

}

.board{
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    position: relative;
    background-image: url(/static/board.jpg);
    background-size: 100%;
}

.board > .itemv{
    display: block;
    position: absolute;
    cursor: pointer;
    text-align: center;
}

.left{
    width: 270px;
    background-color: #f9fff2;
    border-right: 1px solid #e4e4e4;
    display: block;
    float: left;
    position: absolute;
}
.right{
    width: 270px;
    background-color: #f9fff2;
    border-left: 1px solid #e4e4e4;
    display: block;
    float: right;
    position: absolute;
    right: 0px;
}

.rightclseo{
    position: absolute;
    top: 0px;
    background: #f1f1f1;
    /* padding: 4px; */
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-left: 0px;
    right: 0px;
    left: -41px;
    border-left: 1px solid #ddd;
    border-right: 0px;
}
.logobox{
    height: 180px;
    vertical-align: center;
}
.logobox p{
    margin: 0;
    text-align: center;
    line-height: 180px;
}
.nicknamebar{
    height: 30px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.niclable {
    float: left;
    height: 30px;
    display: inline-block;
    background-color: #f1f1f1;
    width: 50px;
    line-height: 30px;
    font-size: 13px;
    border-right: 1px solid #bfbfbf;
    text-align: center;
}
.niclablechange{
    float: right;
    height: 30px;
    display: inline-block;
    background-color: #f1f1f1;
    width: 47px;
    line-height: 30px;
    font-size: 13px;
    border-right: 1px solid #bfbfbf;
    cursor: pointer;
    text-align: center;
}
.name{
    float: left;
    height: 30px;
    font-size: 14px;
    width: 150px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    padding: 0px 10px 0px 10px;
}
.name:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.numberofonline{
    height: 30px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 30px;
    background-color: #dff0d8;
    color: #3c763d;
}
.numberofonline span{
    font-size: 13px;
}
.numberofonline .number{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: red;
    border-radius: 10px;
    float: right;
    margin-top: 6px;
    margin-right: 4px;
}
.pbarsss{
    padding: 2px 0px 2px 0px;
    font-size: 15px;
}
.pbarsss  p{
    margin: 0px;
    background: white;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    margin-top: 6px;
    border-radius: 5px;
}

.buttonbar{
    text-align: right;
    padding: 0 15px 12px;
    pointer-events: auto;
    user-select: none;
    -webkit-user-select: none;
    padding-top: 0;
}
.cancel{
    border-color: white;
    background-color: white;
    color: #343434;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.Confirm{
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

}

.pbar{
    position: relative;
    height: 30px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 30px;
    background-color: white;
    color: #343434;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
}
.pbar> span{
    display: block;
    background: red;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 10px;
}
.pbar img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    margin-right: 10px;
}
.Onlinelist {
    overflow: scroll;
}